<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=<%= VIEWPORT_FIT %>"
    />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <title>Subsumio</title>
    <meta name="theme-color" content="#fafafa" />
    <%= PRECONNECT %>
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" sizes="192x192" href="/favicon-192.png" />
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <meta name="emotion-insertion-point" content="" />
    <meta property="description" content="<%= DESCRIPTION %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://app.subsum.io/" />
    <meta
      name="twitter:title"
      content="Subsumio: AI-native legal workspace for modern firms."
    />
    <meta name="twitter:description" content="<%= DESCRIPTION %>" />
    <meta name="twitter:site" content="@subsumio" />
    <meta name="twitter:image" content="https://subsum.io/og.jpeg" />
    <meta
      property="og:title"
      content="Subsumio: AI-native legal workspace for modern firms."
    />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= DESCRIPTION %>" />
    <meta property="og:url" content="https://app.subsum.io/" />
    <meta property="og:image" content="https://subsum.io/og.jpeg" />
  </head>

  <body>
    <div id="app" data-version="<%= GIT_SHORT_SHA %>"></div>
  </body>
</html>
